.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  justify-items: stretch;
}
.gallery img {
  max-width: 100%;
  object-fit: cover;
}
//.gallery img:nth-child(10n + 2) {
//  grid-column: span 2;
//  grid-row: span 2;
//}